* {
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	background-color: rgb(41, 41, 41);
	color: greenyellow;
	font-size: 12px;
	height: 100%;
	width: 100%;
}
h1 {
	font-size: 3rem;
	padding-bottom: 50px;
}

.container {
	display: flex;
	flex-flow: column;
	margin: 50px auto;
	text-align: center;
	justify-content: center;
}

label {
	font-size: 1.6rem;
}
input {
	background-color: transparent;
	font-size: 18px;
	color: greenyellow;
	border: 1px solid greenyellow;
	outline: none;
	border-radius: 5px;
	height: 50px;
	width: 40%;
	margin: 20px auto;
	transition: 0.3s ease;
	text-align: center;
}

input:focus {
	border: 1px solid greenyellow;
	width: 42%;
}

::placeholder {
	color: rgb(90, 105, 62);
	font-weight: normal;
}
@media (max-width: 767px) {
	body {
		height: 100%;
	}

	h1 {
		font-size: 2rem;
	}

	label {
		font-size: 1.3rem;
	}

	input {
		width: 65%;
	}

	input:focus {
		width: 70%;
	}
}
